/* 
<link rel="stylesheet" href="style.css">
*/
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f7;
    color: #111;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro", "San Francisco", Arial, sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas:    "h h h h h"
                            "m m m m m"
                            "m m m m m"
                            "f f f f f";

}

h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

h2 {
    font-size: 26px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.divstandart {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    width: 95%;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 8px 15px;
}
main {

    display: grid;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(224, 224, 224);
    padding: 20px;
    border-radius: 10px;
    width: 85%;
    flex-wrap: wrap;
    gap: 20px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-area: m;
   

}

ul {
    margin: 0;
    padding-left: 20px;
}
table {
    border-radius: 10px;
    border-spacing: 0;
    width:  80%;
    margin:0 auto;

}
th {
    border: 1px;

}

td {

}
.feld_dunkel {
    background-color: rgba(22,22,23,0.9);;
    color: white;
}
header {
    display: grid;
    
    background-color: rgba(22,22,23,0.9);
    padding: 22px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    grid-template-columns:repeat(4, auto);
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-area: h;
}
main a {
    color:black;
}

a {
    color: #fff;
    font-size: 14px;
    margin-right:  20px;
    text-decoration: none;
}
.logo {
    height: 20px;
}

footer {
    display: grid;
    text-align: center;
    font-size: smaller;
    margin-top: 45px;
    color: #6d5d5d;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-area: f;
    
}
.footerlinie {
    width: 80%;
    height: 3px;
    background-color: #ccc;
    border-radius: 10px;
    margin: auto;

}

.video {
    width: 100%;
    max-width: 900px;
    height: 500px;
    border-radius: 12px;
    display: block;
    margin: 30px auto;
}
.ganzlinks {

    flex-basis: 100%;
}

.mittig {
  text-align: center;
}


.maingrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  padding: 20px;
}

.griditem {
  background-color: rgba(245, 245, 247, 0.8); 
  text-align: center;
  padding: 25px;
  font-size: 18px; 
  border-radius: 16px;
  color: #111;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 250px; 
  transition: all 0.2s linear;
}


.p2 {
  padding: 10px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", Arial, sans-serif;
  color: #111;
  font-size: 18px;
  line-height: 1.5;
}

strong {
  color: #0074a2; 
  font-weight: bold;
}


.item1, .item2, .item3 {
  grid-area: auto;
}
