/* CSS Seite 
Einbindung in einer HTMl Webseite
<link rel="stylesheet" href="style.css">
*/
body {
background-color: antiquewhite;
font-style: San Francisco;
}

h1 {
    
}

p {

}

table, th, td {

}

.div {
    /*leichter Hervorhebung mit abgerundet Ecken*/
    border-radius: 5%;
}