/* bro ka was chatgpt was er will von mit ich mach gerade das full selber lol hahaha-> wer das hier liest hat die kontrolle über sein leben verloren lg m
<link rel="stylesheet" href="style.css">
*/

body {
    background-color: #f5f5f7;
    color: #111;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro", "San Francisco", Arial, sans-serif;
    margin: auto;
    

}

h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

h2 {
    font-size: 26px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.divstandart {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    width: 250px;
    border-radius: 16px;
    text-align: center;
}
.main {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    background-color: rgb(224, 224, 224);
    padding: 20px;
    border-radius: 10px;
    width: 85%;
    flex-wrap: wrap;
    gap: 20px;

}

ul {
    margin: 0;
    padding-left: 20px;
}
table {
    border-spacing: 0;
    width: 100%;
}
th {
    border: 1px;

}

td {

}
.feld_dunkel {
    background-color: black;
    color: white;
}
.headergrund {
    display: flex;
    background-color: #31303093;
    padding: 10px;
    justify-content: center;
    width: 100%;
    margin: 2;

}

a {
    color: #fff;
    font-size: 14px;
    margin-right:  20px;
    text-decoration: none;
}
.logo {
    height: 20px;
}

.footer {
    text-align: center;
    font-size: smaller;
    margin-top: 45px;
    color: #acaaaa;
    
}
.footerlinie {
    width: 80%;
    height: 3px;
    background-color: #ccc;
    border-radius: 10px;
    margin: auto;
}

.video {
    width: 100%;
    max-width: 900px;
    height: 500px;
    border-radius: 12px;
    display: block;
    margin: 30px auto;
}
.ganzlinks {

    flex-basis: 100%;
}